<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="link.microb.microbit_fun">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="link.microb.microbit_fun.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="link.microb.microbit_fun.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="com.bluetooth.mwoolley.microbitbledemo.bluetooth.BleAdapterService"
            android:enabled="true" />
        <service
            android:name="com.bluetooth.mwoolley.microbitbledemo.bluetooth.HrmAdapterService"
            android:enabled="true" />

        <!-- FirebaseInstanceIdService performs security checks at runtime,
     no need for explicit permissions despite exported="true"             -->
        <service android:name=".MyFirebaseInstanceIdService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>